-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "auth_type" AS ENUM ('Google', 'OpacubeVIP', 'Discord', 'Github', 'Twitch', 'Gitlab');

-- CreateEnum
CREATE TYPE "token_type" AS ENUM ('access', 'refresh');

-- CreateTable
CREATE TABLE "tokens" (
    "jti" UUID NOT NULL DEFAULT gen_random_uuid(),
    "useruuid" UUID NOT NULL,
    "type" "token_type" NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tokens_pkey" PRIMARY KEY ("jti")
);

-- CreateTable
CREATE TABLE "users" (
    "uuid" UUID NOT NULL DEFAULT gen_random_uuid(),
    "created_at" TIMESTAMP(3) NOT NULL,
    "hashed_email" CHAR(64) NOT NULL,
    "auth_method" "auth_type" NOT NULL,
    "encrypted_email" VARCHAR(259) NOT NULL,
    "username" VARCHAR(30) NOT NULL,
    "avatar" BOOLEAN NOT NULL DEFAULT false,
    "srp_salt" CHAR(64),
    "srp_verifier" CHAR(512),
    "verified" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "users_pkey" PRIMARY KEY ("uuid")
);

-- CreateIndex
CREATE UNIQUE INDEX "uuid_unique" ON "users"("uuid");

-- CreateIndex
CREATE UNIQUE INDEX "hashed_email_unique" ON "users"("hashed_email");

-- AddForeignKey
ALTER TABLE "tokens" ADD CONSTRAINT "rel_users_uuid" FOREIGN KEY ("useruuid") REFERENCES "users"("uuid") ON DELETE CASCADE ON UPDATE CASCADE;

